body {
  background-color: darkgreen;
  font-size: 40px;
}

.game {
  display:inline-flex;
  flex-direction: column;
  /* border: 2px black dashed; */
  /* height: 300px; */
}
.card {
  display: inline-block;
  margin: 2px;
}


.hand {
  display: inline-flex;
  align-items: center;
  margin: 2px;
  height: 350px;
  min-width: 60px;
}

.playing-area {
  height: 400px;
}