 * {
  box-sizing: border-box;
 }

body {
  background-color: darkgreen;
  font-size: 40px;
}

.game {
  display:inline-flex;
  flex-direction: column;
  /* border: 2px black dashed; */
  /* height: 300px; */
}
.card {
  display: inline-block;
  margin: 2px;
  width: 200px;
}

.card-set  {
  display: inline-flex;
  align-items: center;
  margin: 2px;
  height: 350px;
  min-width: 60px;
}

.card-set-no-spread {
  position: relative;
  box-shadow:     
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
    /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
  }

/* .card-set-no-spread .card {
  position: absolute;
  top: 0;
  left: 0;
} */
.empty-card-set {
  display: inline-flex;
  height: 258px;
  width: 180px;
  margin: 10px;

  border: white 2px solid;
  border-radius: 15px;
}

.playing-area {
  height: 400px;
}